* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #313e4f;
}

header {
    background-color: white;
    padding: 15px;
    color: #313e4f;
}

header > h1 {
    color: #313e4f;
    text-align: center;
    font-family: monospace;
}

th {
    border: 3px solid white;
}

.table-container {
    background-color: white;
    text-align: center;
    border: 10px solid #313e4f;
    padding: 0px 0px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 50%;
    border-radius: 3px;
}

.input-container {
    border-bottom: 2px black solid;
}

#add-task {
    background-color: white;
    color: black;
    margin: 0px;
    font-size: 15px;
    width: 90%;
    border: none;
    padding: 5px 0px;


}

#add-task-btn {
    width: 5%;
}

.task-list-check {
    width: 5%;
}

.task-list {
    background-color: white;
    color: black;
    margin: 0px;
    font-size: 15px;
    width: 90%;
    border: none;
    padding: 5px 0px;
}